<section class="container-dashboard">
  <header><app-header /></header>
  <main>
    <div class="container-grupo-user">
      <app-button-usuario-dashboard />
    </div>

    <div class="container-grupo-opciones-principal">
      @for (item of mainMenu.defaultOptions; track $index) {
      <app-button-opciones-dashboard
        [Title]="item.name"
        [Description]="item.description"
        [routerLink]="item.route"
      />
      }
    </div>

    <div class="container-grupo-opciones">
      @for (item of mainMenu.accessLink; track $index) {
      <app-button-opciones-dashboard
        [Title]="item.name"
        [Description]="item.description"
        [routerLink]="item.route"
      />
      }
    </div>
  </main>
</section>
