<section class="container-dashboard">
  <header><app-header /></header>
  <main>

    <div class="container-grupo-user">
      <app-button-usuario-dashboard />
    </div>

    <div class="container-grupo-opciones-principal">
      <app-button-opciones-dashboard
      [Title]="'Configuracion'"
      [Description]="'Modificar la base de datos'"/>
    </div>

    <div class="container-grupo-opciones">
      <app-button-opciones-dashboard
      [Title]="'Configuracion'"
      [Description]="'Modificar la base de datos'"/>
      <app-button-opciones-dashboard
      [Title]="'Configuracion'"
      [Description]="'Modificar la base de datos'"/>
      <app-button-opciones-dashboard
      [Title]="'Configuracion'"
      [Description]="'Modificar la base de datos'"/>
      <app-button-opciones-dashboard
      [Title]="'Configuracion'"
      [Description]="'Modificar la base de datos'"/>
    </div>

  </main>
</section>
