.container-pagina {
  width: 100%;
  height: 100%;
  position: relative;
}

/*NAV SUPERIOR*/
.container-menuOpcionesConfiguracion-toolBarApp {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
  background-color:  rgb(4, 67, 126);
}

.container-menuOpcionesConfiguracion-toolBarApp-izquierda {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
}

.container-menuOpcionesConfiguracion-toolBarApp-izquierda button {
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 2rem;
}

.container-menuOpcionesConfiguracion-toolBarApp-derecha button{
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 2rem;
}

/*ENCABEZADO*/
.container-body-data-header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-body-data-header button {
  border: none;
  width: 100px;
  height: 44px;
  padding: 0px 12px;
  border-radius: 6px;
  background-color: rgb(4, 67, 126);
  color: white;
}

.container-body-data-header button:hover {
  background-color: rgb(14, 79, 139);
  transition: all 0.3s ease;
  cursor: pointer;
}

/*DATA TABLE*/

.container-body-data {
  width: auto;
  max-height: 88vh;
  overflow: hidden;
  padding: 0 2rem;
  box-sizing: border-box;
}

.container-body-data-table {
  width: auto;
  max-height:calc(100vh - 13vh);
  overflow-y: scroll;
  border: 1px solid rgb(4, 67, 126);
  border-radius: 5px;
}

.container-body-data-table::-webkit-scrollbar {
  width: 8px;
}

.container-body-data-table::-webkit-scrollbar-track {
  background-color: var(--color-principal-5);
}

.container-body-data-table::-webkit-scrollbar-thumb {
  background-color: var(--color-principal-1);
  border-radius: 4px;
}

.container-body-data-table::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-principal-oscuro-1);
}

table{
  border-spacing: 0px;
  height: 100%;
  position: relative;
  z-index: 1;
}

thead {
  height: 100%;
  position: sticky;
  top: 0;
  background-color :rgb(4, 67, 126);
  color: white;
}

tbody {
  display: block;
  height: 100%;
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  transition: all 0.3s ease;
}

th:hover {
  cursor: pointer;
  background-color: var( --color-principal-0);
}

th, td {
  width: auto;
  padding: 4px;
  text-align: center;
}

th:first-child,
td:first-child {
  width: 5%;
  padding: 8px;
  text-align: center;
}



th:nth-last-child(2),
td:nth-last-child(2),
th:last-child,
td:last-child {
  width: 10%;
  padding: 8px;
  text-align: center;
}

tbody tr:hover {
  background-color: rgba(224, 224, 224, 0.5);
  transition: all 0.3s ease;
}

td {
  font-size: 12px;
}

.btn-editar, .btn-eliminar, .btn-ver-detalle {
  border: none;
  background-color: transparent;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  border: 1px solid var(--color-principal-1);
}

.btn-ver-detalle:hover {
  background-color: var(--color-principal-1);
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-editar:hover {
  background-color: dodgerblue;
  border: 1px solid dodgerblue;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-eliminar:hover {
  background-color: firebrick;
  border: 1px solid firebrick;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-option-table{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 4px;
}

.btn-option-table i {
  font-size: 16px;
}
