header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

button {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

button:hover {
  background-color: rgb(4, 74, 139);
}

button:active {
  background-color: rgb(6, 85, 160);
}

button i {
  font-size: 1.5rem;
  color: white;
}

h3 {
  width: 100%;
  color: white;
}
