header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

button {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

button:hover {
  background-color: rgb(4, 74, 139);
}

button:active {
  background-color: rgb(6, 85, 160);
}

button i {
  font-size: 1.5rem;
  color: white;
}

h3 {
  width: 100%;
  color: white;
}


@media (max-width: 320px)  {
  h3 {
    display: none;
  }
}

@media (321px <= width <= 426px)  {

}

@media (600px <= width <= 799px)  {

}

@media (min-width: 427) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 1024px)  {

}
